<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.bubble-vpn.flexrouter</string>
        <key>ProgramArguments</key>
        <array>
            <string>hello</string>
            <string>world</string>
        </array>
        <key>KeepAlive</key>
        <true/>
        <key>SockServiceName</key>
        <string>9833</string>
        <key>StandardOutPath</key>
        <string>/var/log/bubble-flexrouter.log</string>
        <key>StandardErrorPath</key>
        <string>/var/log/bubble-flexrouter.log</string>
        <key>WorkingDirectory</key>
        <string>/Library/BubbleFlexrouter</string>
    </dict>
</plist>
